html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

function performCalc() {
    const hoursWorked = document.querySelector('input[name="hWorked"]').value;
    const hourlyRate = document.querySelector('input[name="hRate"]').value;
    const totalAmount = hoursWorked * hourlyRate;
    document .getElementById('hAnswer').value = totalAmount;
}



